body {
    font-family: Arial, sans-serif;
    background: #000000;
    color: #fff;
    padding: 20px;
}

input, textarea, button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
}

button {
    background: red;
    border: none;
    color: rgb(250, 250, 250);
    cursor: pointer;
}
img {
  width: 200px;
  height: auto;
}
.banner {
  background-image: url("img/fundo.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
}
.nome {
  text-align: center;
}

img {
  margin-top: -100px;
}
button {
  position: relative;
  top: 70px;
}
.btn {
  width: 250px;     /* largura fixa */
  padding: 8px 0;   /* altura igual */

  position: relative;
  top: 20px;        /* desce */
  left: 300px;        /* direita (+) esquerda (-) */
}
